.header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--White);

	&__box {
		display: flex;
		align-items: center;
		overflow: hidden;
		background-color: var(--Very-Light-Gray);
		height: 88vh;
	}

	&__title {
		flex: 1 0 50%;
		padding: 0 15rem;
		display: grid;
		justify-items: start;
		grid-row-gap: 2rem;
	}
	&__img-box {
		flex: 1 0 50%;
		position: relative;
	}
	&__img--below {
		width: 100%;
		transform: scale(1.5, 1.5) translate(8.5rem, -3rem);
	}
	&__img--upper {
		position: absolute;
		top: 39%;
		left: 58%;
		transform: scale(0.8, 0.8) translate(-50%, -50%);
		z-index: 10;
	}
}
