.article {
	@include section-padding(8rem);
	background-color: var(--Very-Light-Gray);
	& > :first-child {
		margin-bottom: 4rem;
	}

	&__boxes {
		display: grid;
		grid-template-rows: repeat(auto-fill, minmax(35rem, 1fr));
		grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
		grid-gap: 3rem;
	}

	&__box {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__img {
		border-radius: 0.5rem 0.5rem 0 0;
		aspect-ratio: 2/1.5;
		object-fit: cover;
		width: 100%;
	}

	&__title-box {
		background-color: var(--White);
		padding: 3rem;
		border-radius: 0 0 0.5rem 0.5rem;
		height: 100%;
		& > :not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	&__writer {
		font-size: 0.9rem;
	}

	&__title {
		transition: color 0.2s;
		&:visited,
		&:link {
			display: block;
			font-weight: 400;
			color: var(--Dark-Blue);
			line-height: 1.2;
		}

		&:hover,
		&:active {
			color: var(--Lime-Green);
		}
	}

	&__text {
		font-size: 1.2rem;
	}
}
